<h3>About</h3>
<p>Guardian Theater is a mash up of the Bungie, Twitch, and Xbox APIs.</p>
<p>Searching for a Guardian retrieves a list of recent activities that Guardian has participated in. Then for each
  activity, we to display all of the Twitch videos and Xbox Gamer DVR clips any of the participating Guardians recorded
  while the activity took place.</p>
<p>Guardian Theater was created by <a (click)="route(['/guardian/1/4611686018445133002'])">Chris Fried</a> with
  invaluable assistance from <a (click)="route(['/guardian/1/4611686018429542374'])">Dustin Rue</a>.</p>
<h3>Contact</h3>
<p>Suggestions? Did it break? Let us know on <a href="https://discord.gg/0lADdhKdnv0jxTNP" target="_blank">our Discord
    server</a>, or <a href="https://github.com/GuardianTheater/guardian-theater/issues/new" target="_blank">open an
    issue</a> on Github.</p>
<p>You can find us on Twitter as <a href="https://twitter.com/guardtheater" target="_blank">@guardtheater</a>, <a
    href="https://twitter.com/chrisfried" target="_blank">@chrisfried</a>, and <a
    href="https://twitter.com/MonkeyStream" target="_blank">@MonkeyStream</a>.</p>
<p>You're also welcome to send a message or a party invite on Xbox Live. We can chat while you carry us to the
  Lighthouse: <a href="https://account.xbox.com/en-US/Profile?gamerTag=chrisfried" target="_blank"><span
      class="fi-social-xbox"></span> chrisfried</a> and <a
    href="https://account.xbox.com/en-US/Profile?gamerTag=RealAngryMonkey"><span class="fi-social-xbox"></span>
    RealAngryMonkey</a>.</p>
<h3>FAQ</h3>
<h5 style="font-weight: bold">How can I support Guardian Theater?</h5>
<h6 style="font-weight: bold">Donate to Guardian Theater</h6>
<p>We accept donations via <a href="https://www.patreon.com/chrisfried" target="_blank">Patreon</a> and <a
    href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=8GLMLFEGR5TFU"
    target="_blank">PayPal</a>. If you have a few dollars in your possession that you don't want, please send them our
  way!</p>
<h6 style="font-weight: bold">Share Guardian Theater</h6>
<p>Find an embarrassing clip of your teammate and yourself getting sniped by the same bullet in Trials? Share the link
  with your friends/clanmates/parents!</p>
<h6 style="font-weight: bold">Provide Feedback</h6>
<p>Some great features have already been implemented based on community suggestions. Have an idea of your own for the
  site? Let us know on <a href="https://discord.gg/0lADdhKdnv0jxTNP" target="_blank">our Discord server</a> or <a
    href="https://github.com/GuardianTheater/guardian-theater/issues" target="_blank">Github</a> or <a
    href="https://twitter.com/guardtheater" target="_blank">Twitter</a> or wherever else you find us.</p>
<h5 style="font-weight: bold">Why aren't my Twitch videos showing up?</h5>
<p>The current solution for linking/unlinking a Twitch account from a Bungie account is to submit a request through this
  <a href="https://forms.gle/BuZCPZ8pUNLsaknn8">Google Form</a>.</p>
<h5 style="font-weight: bold">Why is the site so slow right now?</h5>
<p>It could be the Bungie API, Twitch API, or Xbox API slowing things down. But it's probably Xbox. The Xbox API takes
  nearly a full second to respond to each request on a good day.</p>
