<div
  *ngIf="!profiles && !profiles.length && loadingAccounts"
  class="profile-spinner-wrapper"
>
  <div
    class="fi-widget spinner profile-spinner"
    title="Fetching Bungie Profile..."
  ></div>
</div>

<div *ngIf="profiles && profiles.length" class="profile-wrapper">
  <div
    class="profile small-12 columns"
    [ngStyle]="{
      'background-image': emblemHash
        ? 'url(' +
          (emblemHash | destinyHash: 'emblemSecondarySpecial' | async) +
          ')'
        : ''
    }"
  >
    <div class="row">
      <div class="active-character">
        <div class="gamertag">
          <span class="name" *ngFor="let profile of profiles"
            >{{ profile.displayName }}
            <span
              class="label"
              [ngClass]="{
                xbox: profile.membershipType === 1,
                psn: profile.membershipType === 2,
                steam: profile.membershipType === 3
              }"
              >{{ profile.membershipType | platformAbbr }}</span
            >
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns small-12 button-group expanded">
      <button
        *ngFor="let mode of modeFilters"
        type="button"
        [class]="
          'button filter-toggle mode-button mode-button-' +
          mode.category +
          ((modeFilter | async).indexOf(mode.category) > -1 ? '' : ' hollow')
        "
        (click)="toggleModeFilter(mode.category)"
        [title]="mode.name"
      >
        <span
          [ngStyle]="{ '-webkit-mask-box-image': 'url(' + mode.icon + ')' }"
        ></span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="columns small-12 button-group expanded">
      <button
        type="button"
        class="button filter-toggle player"
        [ngClass]="{
          hollow: (playerFilter | async).player === -1,
          dim: (playerFilter | async).player === 0
        }"
        (click)="cyclePlayerFilter('player')"
        title="Guardian"
      >
        <span class="fi-torso"></span>
      </button>
      <button
        type="button"
        class="button filter-toggle blueberry"
        [ngClass]="{
          hollow: (playerFilter | async).teammates === -1,
          dim: (playerFilter | async).teammates === 0
        }"
        (click)="cyclePlayerFilter('teammates')"
        title="Teammates"
      >
        <span class="fi-torsos"></span>
      </button>
      <button
        type="button"
        class="button filter-toggle enemy"
        [ngClass]="{
          hollow: (playerFilter | async).opponents === -1,
          dim: (playerFilter | async).opponents === 0
        }"
        (click)="cyclePlayerFilter('opponents')"
        title="Opponents"
      >
        <span class="fi-torsos-all"></span>
      </button>
    </div>
  </div>

  <div class="row" *ngIf="(filteredInstances | async).length > 7">
    <div class="columns small-12 button-group expanded">
      <button
        type="button"
        class="button paging"
        (click)="prevPage()"
        [ngClass]="{ disabled: (page | async) < 1 }"
        title="Previous"
      >
        <span class="fi-previous"></span>
      </button>
      <button
        type="button"
        class="button paging"
        (click)="nextPage()"
        [ngClass]="{
          disabled: (page | async) >= (filteredInstances | async).length / 7 - 1
        }"
        title="Next"
      >
        <span class="fi-next"></span>
      </button>
    </div>
  </div>

  <div *ngIf="loadingActivities" class="profile-spinner-wrapper">
    <div
      class="fi-widget spinner profile-spinner"
      title="Fetching Bungie Activities..."
    ></div>
  </div>
  <div *ngIf="!(filteredInstances | async).length && !loadingActivities">
    No activities with clips found. Check back later!
  </div>

  <app-activity
    *ngFor="let instance of slicedInstances | async"
    [instance]="instance"
  ></app-activity>

  <div class="row" *ngIf="(filteredInstances | async).length > 7">
    <div class="columns small-12 button-group expanded">
      <button
        type="button"
        class="button paging"
        (click)="prevPage(true)"
        [ngClass]="{ disabled: (page | async) < 1 }"
        title="Previous"
      >
        <span class="fi-previous"></span>
      </button>
      <button
        type="button"
        class="button paging"
        (click)="nextPage(true)"
        [ngClass]="{
          disabled: (page | async) >= (filteredInstances | async).length / 7 - 1
        }"
        title="Next"
      >
        <span class="fi-next"></span>
      </button>
    </div>
  </div>
</div>
