<p *ngIf="needToSelectPlatform">
  <button class="button" (click)="selectPlatform(1)">Xbox</button>
  <button class="button" (click)="selectPlatform(2)">PlayStation</button>
</p>

<div *ngIf="displayName && activeCharacter" class="profile small-12 columns" [ngStyle]="{'background-image': 'url(//www.bungie.net' + activeCharacter.backgroundPath + ')'}">
  <div class="row">
    <div class="active-character">
      <div class="emblem" [ngStyle]="{'background-image': 'url(//www.bungie.net' + activeCharacter.emblemPath + ')'}"></div>
      <div class="gamertag">
        {{ displayName }}
      </div>
      <div class="character-details" *ngIf="activeCharacter.characterBase"><span class="power-level">{{ activeCharacter.characterBase.powerLevel }} </span><span>// {{ activeCharacter.characterBase.classType | classType }} // {{ activeCharacter.characterBase.raceHash | raceHash }}</span></div>
    </div>
  </div>
  <div class="row characters" *ngIf="characters">
    <div class="expand columns character" *ngFor="let character of characters" [ngStyle]="{'background-image': character.characterBase.characterId === activeCharacter.characterBase.characterId ? '' : 'url(//www.bungie.net' + character.backgroundPath + ')'}">
      <a (click)="selectCharacter(character.characterBase.characterId)"><span class="class-name">{{ character.characterBase.classType | classType }} </span><span class="power-level">{{ character.characterBase.powerLevel }}</span></a>
    </div>
  </div>
</div>

<app-guardian-activities></app-guardian-activities>