<div *ngIf="!profiles.length && loadingAccounts" class="profile-spinner-wrapper">
  <div class="fi-widget spinner profile-spinner" title="Fetching Bungie Profile..."></div>
</div>

<div *ngIf="profiles.length" class="profile-wrapper">
  <div class="profile small-12 columns" [ngStyle]="{'background-image': emblemHash ? 'url(' + (emblemHash | destinyHash:'emblemSecondarySpecial' | async) + ')' : ''}">
    <div class="row">
      <div class="active-character">
        <div class="gamertag">
          <span class="name" *ngFor="let profile of profiles">{{ profile.displayName }}
            <span class="label" [ngClass]="{'xbox': profile.membershipType === 1, 'psn': profile.membershipType === 2, 'steam': profile.membershipType === 3}">{{ profile.membershipType | platformAbbr }}</span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns small-12 button-group expanded">
      <button *ngFor="let mode of modeFilters" type="button" [class]="'button filter-toggle mode-button mode-button-' + mode.flag + (gamemode === mode.flag ? '' : ' hollow')" (click)="selectGamemode(mode.flag)"
        [title]="mode.name">
        <span [ngStyle]="{ '-webkit-mask-box-image': 'url(' + mode.icon + ')' }"></span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="columns small-12 button-group expanded">
      <button type="button" class="button filter-toggle player" [ngClass]="{ 'hollow': !clipLimiter.self }" (click)="toggleLimiter('self')"
        title="Player">
        <span class="fi-torso"></span>
      </button>
      <button type="button" class="button filter-toggle fireteam" [ngClass]="{ 'hollow': !clipLimiter.fireteam }" (click)="toggleLimiter('fireteam')"
        title="Fireteam">
        <span class="fi-torsos"></span>
      </button>
      <button type="button" class="button filter-toggle blueberry" [ngClass]="{ 'hollow': !clipLimiter.team }" (click)="toggleLimiter('team')"
        title="Blueberries">
        <span class="fi-torsos-all"></span>
      </button>
      <button type="button" class="button filter-toggle enemy" [ngClass]="{ 'hollow': !clipLimiter.opponents }" (click)="toggleLimiter('opponents')"
        title="Opponents">
        <span class="fi-torsos-all"></span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="columns small-12 button-group expanded">
      <button type="button" class="button paging" (click)="prevPage()" [ngClass]="{'disabled': page < 1}" title="Previous">
        <span class="fi-previous"></span>
      </button>
      <button type="button" class="button paging" (click)="nextPage()" title="Next">
        <span class="fi-next"></span>
      </button>
    </div>
  </div>

  <div *ngIf="(!activities || !activities.length) && loadingActivities" class="profile-spinner-wrapper">
    <div class="fi-widget spinner profile-spinner" title="Fetching Bungie Activities..."></div>
  </div>
  <div *ngIf="(!activities || !activities.length) && !loadingActivities">No activities found.</div>

  <app-activity *ngFor="let activity of activities" [activity]="activity"></app-activity>

  <div class="row" *ngIf="activities && activities.length">
    <div class="columns small-12 button-group expanded">
      <button type="button" class="button paging" (click)="prevPage()" [ngClass]="{'disabled': page < 1}" title="Previous">
        <span class="fi-previous"></span>
      </button>
      <button type="button" class="button paging" (click)="nextPage()" title="Next">
        <span class="fi-next"></span>
      </button>
    </div>
  </div>
</div>
