
.profile {
  background: rgba(30,36,43,0.75);
  background-size: cover;
  color: #f5f5f5;
  height: 75px;
  margin-bottom: 1rem;
  position: relative;

  .supporter-tag {
    animation: spin 15s infinite linear;
    display: inline-block;
    height: 25px;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .emblem {
    background-color: rgba(0, 0, 0, .2);
    background-size: cover;
    height: 46px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 46px;
  }

  .active-character {
    font-size: 1.2em;
    height: 50px;
    padding: 0 0 0 55px;
  }

  .gamertag {
    font-weight: bold;
    height: 30px;
    line-height: 40px;
  }

  .character-details {
    color: #999;
    font-size: 10px;
    font-weight: bold;
    height: 14px;
    letter-spacing: 2px;
    line-height: 14px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
}

.character {
  background-position: center;
  background-size: cover;
  font-size: .9em;
  padding: 0;

  a {
    display: block;
    height: 25px;
    padding: 2px 5px;
  }

  .class-name {
    color: white;
  }
}

.power-level {
  color: rgba(245, 220, 86, 1);

  &::before {
    content: '\2726';
    display: inline-block;
    font-size: 50%;
    vertical-align: 15%;
  }
}


.mode-selector {
  margin-bottom: .5em;
  background: rgba(48,56,65,1);
  color: white;
  border: none;
}
.mode-selected-AllPvP, .mode-selected-Control, .mode-selected-Team, .mode-selected-ThreeVsThree, .mode-selected-Lockdown, .mode-selected-FreeForAll, .mode-selected-Elimination, .mode-selected-Rift, .mode-selected-ZoneControl, .mode-selected-IronBanner, .mode-selected-TrialsOfOsiris, .mode-selected-MayhemClash, .mode-selected-MayhemRumble, .mode-selected-Racing, .mode-selected-Supremacy, .mode-selected-PrivateMatchesAll, .mode-selected-Mayhem {
  background: rgba(159,52,47,1) !important;
}
.mode-selected-Story {
  background: rgb(212, 110, 55) !important;
}
.mode-selected-Strike, .mode-selected-Nightfall, .mode-selected-Heroic, .mode-selected-AllStrikes {
  background: rgba(85,124,190,1) !important;
}
.mode-selected-AllPvE, .mode-selected-Raid, .mode-selected-AllArena, .mode-selected-Arena, .mode-selected-ArenaChallenge {
  background: rgba(82,119,181,1) !important;
}
.mode-selected-Patrol {
  background: rgba(80,124,65,1) !important;
}

.spinner {
  -webkit-animation: spin 3s infinite linear;
  animation: spin 3s infinite linear;
}
.profile-spinner-wrapper {
  text-align: center;
}
.profile-spinner {
  display: inline-block;
  width: 75px;
  text-align: center;
  font-size: 75px;
  line-height: 75px;
  height: 75px;
  color: #0096db;
}

.button {
  background-color: #806A90;
}
.button:focus, .button:hover {
  background-color: #593373;
}

.button.hollow {
  background: none;
  border: 1px solid #806A90;
  color: #806A90;
}
.button.hollow:focus, .button.hollow:hover {
  background: none;
  border: 1px solid #593373;
  color: #593373;
}

.button.filter-toggle {
  font-size: 1.75em;
  padding: .25em;
}

.button.paging {
  font-size: 1.75em;
  padding: .25em;
}

.button.player,.button.fireteam {
  background-color: #6D6;
}
.button.player.hollow, .button.fireteam.hollow {
  background: none;
  border: 1px solid #6D6;
  color: #6D6;
}

.button.blueberry {
  background-color: #69F;
}
.button.blueberry.hollow {
  background: none;
  border: 1px solid #69F;
  color: #69F;
}

.button.enemy {
  background-color: #D66;
}
.button.enemy.hollow {
  background: none;
  border: 1px solid #D66;
  color: #D66;
}

.button.xbox {
  background-color: #5DC21E;
}
.button.xbox.hollow {
  background: none;
  border: 1px solid #5DC21E;
  color: #5DC21E;
}

.button.playstation {
  background-color: #003791;
  background-image: url('/assets/images/ps.png');
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: center;
}
.button.playstation.hollow {
  background: none;
  border: 1px solid #003791;
  color: #003791;
}

.button.twitch {
  background-color: #6441A4;
  background-image: url('/assets/images/twitch-white.png');
  background-size: .75em;
  background-repeat: no-repeat;
  background-position: center;
}

.button.twitch.hollow {
  background: none;
  background-image: url('/assets/images/twitch-purple.png');
  background-size: .75em;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #6441A4;
  color: #6441A4;
}
.mode-column {
  height: 40px;
  margin-bottom: 1rem;

  .select {
    height: 40px;
  }
}

.previous-column {
  height: 40px;
  padding-right: 0px;
}

.next-column {
  height: 40px;
  padding-left: 1px;
}