
.activity {
  margin-bottom: .5em;
}
.mode {
  background: rgba(48,56,65,1);
  color: white;
  padding: 0 .5em;
  height: 26px;
  line-height: 26px;
}
.mode-5, .mode-8, .mode-9, .mode-10, .mode-11, .mode-12, .mode-13, .mode-14, .mode-15, .mode-19, .mode-23, .mode-24, .mode-26, .mode-27, .mode-28, .mode-29, .mode-31, .mode-32, .mode-34, .mode-35 {
  background: rgba(159,52,47,1) !important;
}
.mode-2 {
  background: rgb(212, 110, 55) !important;
}
.mode-3, .mode-16, .mode-17, .mode-18 {
  background: rgba(85,124,190,1) !important;
}
.mode-4, .mode-20, .mode-21, .mode-22, .mode-30 {
  background: rgba(82,119,181,1) !important;
}
.mode-6 {
  background: rgba(80,124,65,1) !important;
}
.mode-no-clips {
  background: rgba(180,188,197,.75) !important
}
.activity-time {
  font-weight: 200;
  font-size: .75em;
  opacity: 0.5;
}
.activity-permalinks {
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.activity-permalinks a, .activity-permalinks a:hover, .activity-permalinks a:active, .activity-permalinks a:visited {
  color: white;
  display: inline-block;
  opacity: 0.5;
}
.activity-permalinks span {
  opacity: 0.5;
}
.activity-permalinks a:hover, .activity-permalinks a:active, .activity-permalinks a:visited {
  opacity: 1;
}

.videogular-container, .clip-wrapper {
	position: relative;
  margin-bottom: .5em;
  overflow: hidden;
}
.videogular-container:before, .clip-wrapper:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.videogular-container > .videogular-player, .clip-wrapper > div, .twitch-embed {
  position: absolute;
  margin-left: 0 !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.clip-thumbnail {
  cursor: pointer
}