
.activity {
  margin-bottom: 1em;
}
.mode {
  background: rgba(48,56,65,1);
  color: white;
  padding: 0 .5em;
  height: 28px;
  line-height: 28px;
  cursor: pointer;
  transition: background-color .25s ease-out,color .25s ease-out;
}
.mode-5, .mode-8, .mode-9, .mode-10, .mode-11, .mode-12, .mode-13, .mode-14, .mode-15, .mode-19, .mode-23, .mode-24, .mode-26, .mode-27, .mode-28, .mode-29, .mode-31, .mode-32, .mode-34, .mode-35 {
  background: rgba(159,52,47,1) !important;
}
.mode-2 {
  background: rgba(212, 110, 55,1) !important;
}
.mode-3, .mode-16, .mode-17, .mode-18 {
  background: rgba(85,124,190,1) !important;
}
.mode-4, .mode-20, .mode-21, .mode-22, .mode-30 {
  background: rgba(82,119,181,1) !important;
}
.mode-6 {
  background: rgba(80,124,65,1) !important;
}
.mode-no-clips {
  background: rgba(180,188,197,1) !important
}
.activity-time {
  font-weight: 200;
  font-size: .75em;
  text-align: right;
  padding-right: .5em;
  flex-shrink: 3;
}
.activity-permalinks {
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.activity-permalinks a, .activity-permalinks a:hover, .activity-permalinks a:active, .activity-permalinks a:visited {
  color: white;
  display: inline-block;
  opacity: 0.5;
}
.activity-permalinks span {
  opacity: 0.5;
}
.activity-permalinks a:hover, .activity-permalinks a:active, .activity-permalinks a:visited {
  opacity: 1;
}

.clips {
  margin-top: 1em;
}
.clip-item {
  margin: 0 1em 1em;
}
.clip-item:nth-last-child(1) {
  margin-bottom: 0;
}

.clip-wrapper {
	position: relative;
  overflow: hidden;
  border-top: 1px solid white;
}
.clip-wrapper:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.clip-wrapper > div, .twitch-embed, .xbox-embed {
  position: absolute;
  margin-left: 0 !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.xbox-embed {
  cursor: pointer;
}
.clip-thumbnail {
  cursor: pointer;
  position: absolute;
  margin-left: 0 !important;
  top: -16.75%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.mode.loading {
  margin-left: .9375rem;
}

.spinner-block {
  border-top: 1px solid white;
  border-right: 1px solid white;
  color: #fff;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  cursor: pointer;
  max-height: 84px;
  height: 84px;
  line-height: 84px;
  padding: 0;
}

.date-block {
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.spinner-block.pgcr {
  border-right: none;
}

.pgcr {
  max-height: 85px;
  overflow: hidden
}

.pgcr.pgcr-full {
  max-height: none;
}

.spinner {
  -webkit-animation: spin 3s infinite linear;
  animation: spin 3s infinite linear;
}
.pgcr-spinner-wrapper {
  text-align: center;
}
.pgcr-spinner {
  display: block;
  color: #0096db;
  color: #fff;
}
.player-spinner {
  display: block;
  position: relative;
}
.bungie-spinner {
  position: absolute;
  left: 0;
  width: 100%;
  color: #0096db;
  color: #fff;
}
.twitch-spinner {
  position: absolute;
  left: 0;
  width: 100%;
  color: #6441A4;
  color: #fff;
}
.xbox-spinner {
  position: absolute;
  left: 0;
  width: 100%;
  color: #5dc21e;
  color: #fff;
}

.half-spinner-a {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}
.half-spinner-b {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.third-spinner-a {
  clip-path: polygon(0 0, 50% 0, 50% 50%, 0 80%);
}
.third-spinner-b {
  clip-path: polygon(50% 0, 100% 0, 100% 80%, 50% 50%);
}
.third-spinner-c {
  clip-path: polygon(0 80%, 50% 50%, 100% 80%, 100% 100%, 0 100%);
}
@-webkit-keyframes spin
{  
0%   {-webkit-transform: rotate(0deg);}  
100% {-webkit-transform: rotate(360deg);}  
}
@keyframes spinX
{  
0%   {transform: rotate(0deg);}  
100% {transform: rotate(360deg);}  
}

.activity-title-bar {
  display: flex;
  height: 28px;
  padding: 0;
}

.pgcr-entry {
  border-top: 1px solid white;
  border-right: 1px solid white;
  display: flex;
  padding: 0;

  .no-clips & {
    opacity: .75;
  }
}
.pgcr-no-teams .pgcr-entry:nth-child(even), .pgcr-entry.Bravo, .clip-item .pgcr-entry {
  border-right: none;
}
.pgcr-entry-name, .activity-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  padding-left: .5em;
  padding-right: .5em;
  transition: background-color .25s ease-out,color .25s ease-out;
}

.pgcr-team-name, .pgcr-team-score {
  padding-right: .5em;
  cursor: initial;
}
.pgcr-team-name {
  padding-left: .5em;
  flex-grow: 1;
}
.pgcr-team-score {
  text-align: right;
}

.profile-link, .activity-link, .xbox-clip-link {
  background-size: 1em;
  width: 28px;
  min-width: 28px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  border-left: 1px solid white;
  transition: background-color .25s ease-out;
}

.profile-link.bungie, .activity-link.bungie {
  background-image: url('/assets/images/bungie-white.png');  
}
.profile-link.bungie:hover, .activity-link.bungie:hover {
  background-color: #0096db;
}

.profile-link.trials {
  background-image: url('/assets/images/trials-white.png');
}
.profile-link.trials:hover {
  background-color: #fdd803;
}

.profile-link.twitch {
  background-image: url('/assets/images/twitch-white.png');
}
.profile-link.twitch:hover {
  background-color: #6441A4;
}

.profile-link.tracker, .activity-link.tracker {
  background-image: url('/assets/images/tracker-white.png');
}
.profile-link.tracker:hover, .activity-link.tracker:hover {
  background-color: #272727;
}

.profile-link.ggg, .activity-link.ggg {
  background-image: url('/assets/images/ggg-white.png');
}
.profile-link.ggg:hover, .activity-link.ggg:hover {
  background-color: #404040;
}


.Alpha {
  background-color: #0b1d40;

  & .pgcr-entry-name:hover {
    background-color: #001;
  }
}
.Bravo {
  background-color: #e05225;

  & .pgcr-entry-name:hover {
    background-color: #b20;
  }
}
.Team {
  background-color: #69F;

  & .pgcr-entry-name:hover {
    background-color: #36C;
  }
}
.Opponent {
  background-color: #D66;

  & .pgcr-entry-name:hover {
    background-color: #A33;
  }
}
.Fireteam {
  background-color: #6D6;

  & .pgcr-entry-name:hover {
    background-color: #3A3;
  }
}
.Player {
  background-color: #6D6;

  & .pgcr-entry-name:hover {
    background-color: #3A3;
  }
}

.twitch-banner {
  border-top: 1px solid white;
  display: flex;
  background-color: #6441A4;
}
.xbox-banner {
  border-top: 1px solid white;
  display: flex;
  background-color: #5DC21E;
  padding-right: 0;
  cursor: initial;
}
.twitch-clip-name, .xbox-clip-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  padding-right: .5em;
}
.xbox-clip-link {
  color: white;
  text-align: center;
}
.xbox-clip-link.gif:hover {
  background-color: #4E76C9;
}
.xbox-clip-link.download:hover {
  background-color: #390;
}

.player-label {
  background: white;
  border-radius: .25em;
  line-height: 1.2em;
  padding: 0 .3em;
  font-size: .6rem;
  cursor: inherit;
  vertical-align: middle;
}

.player-label.Patron {
  color: #E6461A;  
}

.player-label.Dev {
  color: #806A90;  
}