<div *ngIf="loadingInstance && !instance" class="pgcr-spinner-wrapper">
  <div
    class="fi-widget spinner pgcr-spinner"
    title="Fetching Activity..."
  ></div>
</div>

<div class="activity" *ngIf="instance">
  <div
    class="columns small-12 activity-header clickable"
    (click)="toActivity(instance.instanceId)"
  >
    <div class="row">
      <div
        class="mode columns small-12 activity-title-bar"
        [ngClass]="
          'mode-category-' +
          (instance.activityHash | destinyHash: 'activityModeCategory' | async)
        "
      >
        <span class="activity-info">
          <span
            *ngIf="
              instance.directorActivityHash &&
              (instance.directorActivityHash
                | destinyHash: 'activityIcon'
                | async)
            "
            [title]="
              instance.directorActivityHash
                | destinyHash: 'activityDescription'
                | async
            "
            class="activity-icon"
          >
            <img
              [src]="
                instance.directorActivityHash
                  | destinyHash: 'activityIcon'
                  | async
              "
          /></span>

          <span
            class="activity-name"
            [title]="
              instance.activityHash | destinyHash: 'activityDescription' | async
            "
            >{{
              instance.activityHash | destinyHash: 'activityName' | async
            }}</span
          >
          <span
            class="activity-time"
            [title]="instance.period | date: 'short'"
            >{{ instance.period | date: 'short' }}</span
          >
        </span>
        <a
          class="activity-link tracker"
          title="View Activity on Destiny Tracker"
          (click)="stopPropagation($event)"
          *ngIf="links.activity.tracker"
          [href]="'http://destinytracker.com/d2/pgcr/' + instance.instanceId"
          target="_blank"
          angulartics2On="click"
          angularticsEvent="ActivityLink"
          angularticsCategory="DestinyTrackerLink"
        ></a>
        <a
          class="activity-link ggg"
          title="View Activity on Guardian.gg"
          (click)="stopPropagation($event)"
          *ngIf="links.activity.ggg"
          [href]="'http://guardian.gg/2/pgcr/' + instance.instanceId"
          target="_blank"
          angulartics2On="click"
          angularticsEvent="ActivityLink"
          angularticsCategory="GuardianGgLink"
        ></a>
        <a
          class="activity-link options fi-wrench"
          title="Configure Activity Links"
          (click)="route(['/settings'])"
          *ngIf="links.activity.options"
          angulartics2On="click"
          angularticsEvent="ActivityLink"
          angularticsCategory="SettingsLink"
        ></a>
      </div>
    </div>
  </div>

  <div class="columns small-12 clips">
    <div class="clip-item-wrapper" *ngFor="let clip of instance.videos">
      <div class="clip-item">
        <div class="row">
          <app-pgcr-entry
            [instance]="instance"
            [entry]="clip"
            [links]="links"
            (click)="toGuardian(clip.membershipType, clip.membershipId)"
            class="columns small-12 mode pgcr-entry"
            [ngClass]="{
              Player: clip.team === 16,
              Team: instance.team && clip.team && instance.team === clip.team,
              Opponent:
                instance.team && clip.team && instance.team !== clip.team
            }"
          >
          </app-pgcr-entry>
        </div>
        <div class="row" *ngIf="clip.type === 'twitch'">
          <a
            class="columns small-12 mode twitch-banner"
            target="_blank"
            [href]="clip.url"
            angulartics2On="click"
            angularticsEvent="TwitchClipLink"
            angularticsCategory="TwitchLink"
          >
            <span class="twitch-clip-name">{{ clip.title }}</span>
            <span class="twitch-timestamp">{{ clip.offset }}</span>
          </a>
          <div class="columns small-12 clip-wrapper" *ngIf="!clip.play">
            <img
              *ngIf="clip.thumbnail"
              class="clip-thumbnail"
              (click)="clip.play = !clip.play"
              [src]="clip.thumbnail"
            />
            <span
              *ngIf="!clip.thumbnail"
              (click)="clip.play = !clip.play"
              class="clip-play-button twitch"
              ><span class="fi-play"></span
            ></span>
          </div>
          <div class="columns small-12 clip-wrapper" *ngIf="clip.play">
            <iframe
              class="twitch-embed"
              [src]="sanitizer.bypassSecurityTrustResourceUrl(clip.embedUrl)"
              frameborder="0"
              scrolling="no"
              allowfullscreen="true"
            >
            </iframe>
          </div>
        </div>
        <div class="row" *ngIf="clip.type === 'mixer'">
          <a
            class="columns small-12 mode mixer-banner"
            target="_blank"
            [href]="clip.url"
            angulartics2On="click"
            angularticsEvent="MixerClipLink"
            angularticsCategory="MixerLink"
          >
            <span class="mixer-clip-name">{{ clip.title }}</span>
            <span class="mixer-timestamp">{{ clip.offset }}</span>
          </a>
          <div class="columns small-12 clip-wrapper" *ngIf="!clip.play">
            <img
              *ngIf="clip.thumbnail"
              class="clip-thumbnail"
              (click)="clip.play = !clip.play"
              [src]="clip.thumbnail"
            />
            <span
              *ngIf="!clip.thumbnail"
              (click)="clip.play = !clip.play"
              class="clip-play-button twitch"
              ><span class="fi-play"></span
            ></span>
          </div>
          <div class="columns small-12 clip-wrapper" *ngIf="clip.play">
            <iframe
              class="mixer-embed"
              [src]="sanitizer.bypassSecurityTrustResourceUrl(clip.embedUrl)"
              frameborder="0"
              scrolling="no"
              allowfullscreen="true"
            >
            </iframe>
          </div>
        </div>
        <div class="row" *ngIf="clip.type === 'xbox'">
          <div class="columns small-12 mode xbox-banner" target="_blank">
            <span class="xbox-clip-name">{{
              clip.title || 'Xbox Game DVR Clip'
            }}</span>
            <a
              class="xbox-clip-link xboxrecordus"
              title="View Clip on xboxrecord.us"
              (click)="stopPropagation($event)"
              *ngIf="links.xbox.recordus"
              [href]="clip.url"
              target="_blank"
              angulartics2On="click"
              angularticsEvent="XboxClipLink"
              angularticsCategory="XboxRecordUsLink"
              >.us</a
            >
            <!-- <a
                class="xbox-clip-link xbox"
                title="View Clip on Xbox"
                (click)="stopPropagation($event)"
                *ngIf="links.xbox.xbox"
                [href]="
                  'https://account.xbox.com/en-US/gameclip/' +
                  clip.video.gameClipId +
                  '?gamertag=' +
                  clip.entry.player.destinyUserInfo.displayName +
                  '&scid=' +
                  clip.video.scid
                "
                target="_blank"
                angulartics2On="click"
                angularticsEvent="XboxClipLink"
                angularticsCategory="XboxLink"
              >
                <span class="fi-social-xbox"></span>
              </a> -->
            <!-- <a
                class="xbox-clip-link download fi-download"
                download
                title="Download clip"
                (click)="stopPropagation($event)"
                *ngIf="links.xbox.download"
                [href]="clip.video.gameClipUris[0].uri"
                target="_blank"
                angulartics2On="click"
                angularticsEvent="XboxClipLink"
                angularticsCategory="DownloadXboxClip"
              ></a> -->
            <a
              class="xbox-clip-link options fi-wrench"
              title="Configure Clip Links"
              (click)="route(['/settings'])"
              *ngIf="links.xbox.options"
              angulartics2On="click"
              angularticsEvent="XboxClipLink"
              angularticsCategory="SettingsLink"
            ></a>
          </div>
          <div class="columns small-12 clip-wrapper">
            <video
              id="my-video"
              class="video-js xbox-embed"
              controls
              preload="none"
              [poster]="clip.thumbnail"
              data-setup="{}"
              (click)="
                $event.srcElement.paused
                  ? $event.srcElement.play()
                  : $event.srcElement.pause()
              "
            >
              <source
                *ngIf="clip.embedUrl"
                [src]="clip.embedUrl"
                type="video/mp4"
              />
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
