<span class="pgcr-entry-name" [title]="entry.displayName">
  {{ entry.displayName }}
  <span
    *ngIf="entry.membershipId | gtBadge"
    class="label player-label"
    [ngClass]="entry.membershipId | gtBadge"
    >{{ entry.membershipId | gtBadge }}</span
  >
</span>
<a
  class="profile-link bungie"
  title="View Guardian on Bungie"
  (click)="stopPropagation($event)"
  *ngIf="links.guardian.bungie"
  [href]="
    'https://www.bungie.net/en/Profile/' +
    entry.membershipType +
    '/' +
    entry.membershipId +
    '/'
  "
  target="_blank"
  angulartics2On="click"
  angularticsEvent="GuardianLink"
  angularticsCategory="BungieLink"
></a>
<!-- <a class="profile-link tracker" title="View Guardian on Destiny Tracker" (click)="stopPropagation($event)"
  *ngIf="links.guardian.tracker" [href]="
    'http://destinytracker.com/d2/profile/' +
    entry.trn +
    '/' +
    entry.displayName +
    (entry.trn === 'pc'
      ? '?mbmid=' + entry.player.destinyUserInfo.membershipId
      : '')
  " target="_blank" angulartics2On="click" angularticsEvent="GuardianLink"
  angularticsCategory="DestinyTrackerLink"></a> -->
<a
  class="profile-link ggg"
  title="View Guardian on Guardian.gg"
  (click)="stopPropagation($event)"
  *ngIf="links.guardian.ggg"
  [href]="
    'http://guardian.gg/2/profile/' +
    entry.membershipId +
    '/' +
    entry.displayName
  "
  target="_blank"
  angulartics2On="click"
  angularticsEvent="GuardianLink"
  angularticsCategory="GuardianGgLink"
></a>
<a
  class="profile-link platform xbox"
  title="View Guardian on Xbox.com"
  (click)="stopPropagation($event)"
  *ngIf="links.guardian.platform && entry.membershipType === 1"
  [href]="
    'https://account.xbox.com/en-US/Profile?GamerTag=' + entry.displayName
  "
  target="_blank"
  angulartics2On="click"
  angularticsEvent="GuardianLink"
  angularticsCategory="XboxProfileLink"
>
  <span class="fi-social-xbox"></span>
</a>
<a
  class="profile-link platform ps"
  title="View Guardian on PlayStation.com"
  (click)="stopPropagation($event)"
  *ngIf="links.guardian.platform && entry.membershipType === 2"
  [href]="'https://my.playstation.com/' + entry.displayName"
  target="_blank"
  angulartics2On="click"
  angularticsEvent="GuardianLink"
  angularticsCategory="PlayStationProfileLink"
></a>
<a
  class="profile-link options fi-wrench"
  title="Configure Guardian Links"
  (click)="route(['/settings'])"
  *ngIf="links.guardian.options"
  angulartics2On="click"
  angularticsEvent="GuardianLink"
  angularticsCategory="SettingsLink"
></a>
