@import '../../variables';

.discord,
.patreon,
.donate {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
  display: inline-block;
  height: 30px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 30px;
}

.patreon {
  background-image: url('/assets/images/patreon.png');
}

.donate {
  background-image: url('/assets/images/takemymoneypurple.png');
}

.discord {
  background-image: url('/assets/images/discord.png');
}

.search-box {
  border-right-width: 0;
  max-width: calc(100% - 35px);

  :host-context(.dark) & {
    background-color: $dark-mode-dark-panel;
    color: $dark-mode-text;
    border-color: $dark-mode-dark-panel;

    &:focus {
      box-shadow: 0 0 5px $dark-mode-dark-panel;
    }
  }
}

.search-bar {
  margin: 0;
}

.search-form {
  margin-bottom: .5em;
}

.icon-menu {
  color: $dark-blue;
  display: flex;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 30px;
  margin: 0 0 .5em !important;
  text-align: right;
  text-transform: uppercase;
}

.icon-menu a {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: $dark-blue;

  :host-context(.dark) & {
    color: $dark-mode-text;
  }
}

.twitter,
.twitter:hover,
.twitter:active,
.twitter:visited {
  color: $twitter-blue !important;
}

ins.adsbygoogle {
  text-align: center;
}

.ad {
  margin-bottom: .5em !important;
  overflow: hidden;
}

.logo-wrap {
  text-align: center;
}

.logo {
  padding: 0 0 .5em;
  margin-right: -1em;

  @media print, screen and (min-width: 40em) {
    padding: 1em 0;
    margin-right: 0;
  }
}

.mayhem {
  border: solid 1px orange;
  padding: .5em;
  cursor: pointer;
  margin: .5em;

  img {
    width: 100px;
    float: right;
    margin: .5em;
  }

  a {
    display: block;
  }
}
