[req]
default_bits = 2048
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dev.guardian.theater
[dev.guardian.theater]
C = US
ST = Internet
L = Internet
O = Guardian Theater
OU = CI
emailAddress = email@domain.com
CN = dev.guardian.theater
[v3_req]
subjectAltName = @alt_names
[alt_names]
DNS.1 = ci.guardian.theater
