.button {
  background-color: #806A90;
}

.button:focus, .button:hover {
  background-color: #593373;
}

.supporterTag {
  height: 25px;
  -webkit-animation: spin 15s infinite linear;
  animation: spin 15s infinite linear;
  display: inline-block;
  margin-bottom: 5px;
}

.activeCharacter a, .activeCharacter a:visited, .activeCharacter a:hover, .activeCharacter a:active {
  display: block;
  color: white;
}

.activity .clip a {
  display: inline-block;
}
.activity-link, .activity-link:visited, .activity-link:hover, .activity-link:active {
  color: white;
  display: block;
}
.player-bar {
  margin-top: .15em;
  margin-bottom: .15em;
  max-height: 36px;
  overflow: hidden;
}
.player-column {
  padding-right: 0 !important;
}
.player-stats-column {
  padding: 0 !important;
}
.activity .player {
  max-height: 36px;
  overflow: hidden;
}
.activity .player .emblem {
  width: 36px;
  margin-right: .25em;
}
.activity .displayName, .activity .clanTag {
  position: relative;
}
.player-stats, .download, .permalink, .gif {
  line-height: 36px;
  padding: 0 .25em;
  width: 30px;
  overflow: hidden;
  text-align: center;
  font-size: 1.35em;
  color: #333;
}
.gif {
  font-size: 1em;
}
.player {
  color: #333;
}
.Alpha, .Alpha:hover, .Alpha:visited, .Alpha:active {
  color: #0b1d3f;
}
.Bravo, .Bravo:hover, .Bravo:visited, .Bravo:active {
  color: #d75027;
}
.displayName {
  font-weight: bold;
  line-height: 36px;
}
.blueberry {
  color: #5f7594 !important;
}
.fireteam {
  color: #759e89 !important;
}
.enemy {
  color: #a03c43 !important;
}
.clanTag {
  color: #999 !important;
  line-height: 36px;
}

.thumbnail-link {
  width: 100%;
}

.clip {
  margin-bottom: .5em;
}

videogular vg-overlay-play .play:before, [videogular] vg-overlay-play .play:before {
  content: ' ' !important;
}

.spot {
  margin-bottom: .5em;
}

.home {
  display: block;
}
.wrapper {
  margin-top: .5em;
}

.activity-history-end {
  color: rgba(180,188,197,.75);
  text-align: center;
  margin-bottom: .5em;
}
.gtgrey {
  width: 25px;
}