<div class="columns small-12 button-group expanded">
  <button type="button" class="button xbox filter-toggle" [ngClass]="{ 'hollow': (platform$ | async) !== 1 }" (click)="selectPlatform(1)"
    title="Xbox"><span class="fi-social-xbox"></span></button>
  <button type="button" class="button playstation filter-toggle" [ngClass]="{ 'hollow': (platform$ | async) !== 2 }" (click)="selectPlatform(2)"
    title="PlayStation"><span class="fi-social-playstation"></span></button>
</div>

<div *ngIf="(platform$ | async) > 0">
  <label>Local Start Time: <input type="datetime-local" [(ngModel)]="startTime" (change)="updateStart($event)"></label>
  Guardians: 
  <span *ngFor="let player of players">
    <input type="text" [(ngModel)]="player.name" (change)="player.updateName()">
    <span class="fetchStatus bungie" [ngClass]="{
      'spin': (player.bungieStatus$ | async) === 2 || (player.bungieStatus$ | async) === 4,
      'color': (player.bungieStatus$ | async) > 2
    }"></span>
    <span class="fetchStatus twitch" [ngClass]="{
      'spin': (player.twitchStatus$ | async) === 2 || (player.twitchStatus$ | async) === 4,
      'color': (player.twitchStatus$ | async) > 2
    }"></span>
    <span class="fetchStatus xbox" [ngClass]="{
      'hidden': (player.xboxStatus$ | async) === 0,
      'color': (player.xboxStatus$ | async) > 1,
      'spin': (player.xboxStatus$ | async) === 3
    }"></span>
  </span>
  <div *ngFor="let player of players">
    <div *ngFor="let clip of (player.twitchClips$ | async)" class="clip-item">
      <div class="row">
        <div class="columns small-12 mode pgcr-entry">
          <span class="pgcr-entry-name">
            {{ player.displayName$ | async }}
          </span>
        </div>
      </div>
      <div class="row" *ngIf="clip.type === 'twitch' && clip.video">
        <a class="columns small-12 mode twitch-banner" target="_blank" [href]="clip.video.url + '?t=' + clip.hhmmss" angulartics2On="click"
          angularticsEvent="TwitchClipLink" angularticsCategory="TwitchLink">
          <span class="twitch-clip-name">{{ clip.video.title }}</span>
          <span class="twitch-timestamp">{{ clip.start | twitchStamp:clip.entry.startTime }}</span>
        </a>
        <div class="columns small-12 clip-wrapper" *ngIf="!clip.play">
          <img *ngIf="clip.video.thumbnails && clip.video.thumbnails[0]" class="clip-thumbnail" (click)="clip.play = !clip.play" [src]="clip.video.thumbnails[0].url">
          <span *ngIf="!clip.video.thumbnails || !clip.video.thumbnails[0]" (click)="clip.play = !clip.play" class="clip-play-button"></span>
        </div>
        <div class="columns small-12 clip-wrapper" *ngIf="clip.play">
          <iframe class="twitch-embed" [src]="clip.embedUrl" frameborder="0" scrolling="no" allowfullscreen="true">
          </iframe>
        </div>
      </div>
    </div>
    <div *ngFor="let clip of (player.xboxClips$ | async)" class="clip-item">
      <div class="row">
        <div class="columns small-12 mode pgcr-entry">
          <span class="pgcr-entry-name">
            {{ player.displayName$ | async }}
          </span>
        </div>
      </div>
      <div class="row" *ngIf="clip.type === 'xbox'">
        <div class="columns small-12 mode xbox-banner" target="_blank">
          <span class="xbox-clip-name">{{ clip.video.clipName || 'Xbox Game DVR Clip' }}</span>
        </div>
        <div class="columns small-12 clip-wrapper">
          <video id="my-video" class="video-js xbox-embed" controls preload="none" [poster]="clip.video.thumbnails[0].uri" data-setup="{}"
            (click)="$event.srcElement.paused ? $event.srcElement.play() : $event.srcElement.pause()">
            <source [src]="clip.video.gameClipUris[0].uri" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>


</div>
