<h5>Greetings Guardian!</h5>
<p>Welcome to the Guardian Theater v2 Beta! Take it for a spin, then hit the Twitter and/or Discord links in the nav bar and let me know what you think!</p>
<p>Things to check out:</p>
<ul>
  <li>Toggle on some offsite links on the Settings page (the cog link in the nav bar). They look really slick.</li>
  <li>Filters! Those icons with the silhouettes? Just toggle them at random until you figure them out.</li>
  <li>Feel the speed. So fast.</li>
  <li>The code. We're open source this time around! There's a Github link in the nav bar. Pull requests welcome.</li>
</ul>