<h4>Donate</h4>
<p><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=8GLMLFEGR5TFU" target="_blank">Donate with PayPal</a> and receive a Donor badge next to your name on Guardian Theater.</p>
<h4>Merch</h4>
<p><a href="https://teespring.com/guardiantheater" target="_blank">Purchase a shirt</a> to wear our logo on your torso.</p>
<a href="https://teespring.com/guardiantheater" target="_blank"><img src="https://vangogh.teespring.com/og_pic/17873271/19160339/front.jpg"></a>