/**** Color Definitions ****/
$all-navy: rgba(48, 56, 65, 1);
$alpha-blue: #0b1d40;
$blueberry-blue: #69f;
$bravo-orange: #e05225;
$bungie-blue: #0096db;
$crucible-red: rgba(159, 52, 47, 1);
$dark-blue: rgba(30, 36, 43, 0.75);
$dark-purple: #593373;
$destiny-tracker-grey: #272727;
$details-grey: #999;
$donor-blue: #002f86;
$fireteam-green: #6d6;
$gambit-green: #39A97F;
$guardian-gg-grey: #404040;
$light-grey: #f5f5f5;
$light-purple: #806a90;
$no-clips-grey: rgba(180, 188, 197, 1);
$ocean-blue: #0096db;
$opponent-red: #d66;
$patreon-orange: #e6461a;
$patrol-green: rgba(80, 124, 65, 1);
$playstation-blue: #003791;
$power-level-yellow: rgba(245, 220, 86, 1);
$raid-blue: rgba(82, 119, 181, 1);
$story-orange: rgba(212, 110, 55, 1);
$strike-blue: rgba(85, 124, 190, 1);
$trials-yellow: #fdd803;
$twitch-purple: #6441a4;
$twitter-blue: #55acee;
$xbox-green: #5dc21e;
$mixer-blue: #1fbaed;
$dark-mode-text: rgba(255, 255, 255, .87);
$dark-mode-background: rgb(15, 15, 15);
$dark-mode-no-clips-grey: rgba(180, 188, 197, .25);
$dark-mode-dark-panel: rgb(30, 30, 30);
/**** End Color Definitions ****/

$contributor-purple: $light-purple;
$owner-purple: $dark-purple;

$hover-darken-percentage: 15%;
$transition-parameters: 0.25s ease-out,
color 0.25s ease-out;

// Little hover mixin to reduce boilerplate. $hover-color is an optional
// second parameter. If absent then a default darken will be used. $properties is
// a list of properties to apply the transition and darkening to.
@mixin darken-generic-properties-on-hover($color,
  $hover-color: null,
  $properties...) {
  cursor: pointer;

  @each $property in $properties {
    transition: $property $transition-parameters;
    #{$property}: $color;

    &:hover {
      #{$property}: darken($color, $hover-darken-percentage);
      #{$property}: $hover-color;
    }
  }
}

@mixin background-hover-darken($color, $hover-color: null) {
  @include darken-generic-properties-on-hover($color,
    $hover-color,
    background-color);
}

@mixin color-border-hover-darken($color, $hover-color: null) {
  @include darken-generic-properties-on-hover($color,
    $hover-color,
    color,
    border-color);
}
