@import 'variables';

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background: #e4d4ee;
}

::-webkit-scrollbar-track {
  background: rgba(228,212,238, 0.2);
}

.dark {
  background-color: $dark-mode-background;
  color: $dark-mode-text;

  .callout.warning {
    background-color: $dark-mode-dark-panel;
    color: $dark-mode-text;

    a {
      color: $dark-mode-text;
    }
  }
}

/* You can add global styles to this file, and also import other style files */
.app-loading-container {
  background: #593373;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.app-loading-spinner {
  height: 200px;
  width: 200px;
  -webkit-animation: spin 60s infinite linear;
  animation: spin 60s infinite linear;
  display: inline-block;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button {
  outline: none;
  background-color: $light-purple;

  &:focus,
  &:hover {
    background-color: $dark-purple;
  }
}
